.components {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 3em;
  row-gap: 0.5em;
  align-items: center;
  padding: 0;
  margin: 0;
}

.components > li {
  display: contents;
}
